In [15]:
import pandas_datareader as pdr
import yfinance as yf
import pandas as pd
from datetime import datetime

In [16]:
df=yf.download('TSLA')

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

In [17]:
df

Price            Close        High         Low        Open     Volume
Ticker            TSLA        TSLA        TSLA        TSLA       TSLA
Date
2010-06-29    1.592667    1.666667    1.169333    1.266667  281494500
2010-06-30    1.588667    2.028000    1.553333    1.719333  257806500
2010-07-01    1.464000    1.728000    1.351333    1.666667  123282000
2010-07-02    1.280000    1.540000    1.247333    1.533333   77097000
2010-07-06    1.074000    1.333333    1.055333    1.333333  103003500
...                ...         ...         ...         ...        ...
2025-03-03  284.649994  303.940002  277.299988  300.339996  115551400
2025-03-04  272.040009  284.350006  261.839996  270.929993  126706600
2025-03-05  279.100006  279.549988  267.709991  272.920013   94042900
2025-03-06  263.450012  272.649994  260.019989  272.059998   98451600
2025-03-07  262.670013  266.250000  250.729996  259.320007  102193000

[3696 rows x 5 columns]