In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [112]:
data=sns.load_dataset('penguins')
data.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [113]:
data.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [114]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [115]:
data.shape

(344, 7)

In [116]:
data.dropna(inplace=True)
data.shape

(333, 7)

In [117]:
data.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

one hot Encoding transforming caategorical sta into numeroic

In [118]:
data.sex.unique()

array(['Male', 'Female'], dtype=object)

In [119]:
pd.get_dummies(data['sex'],dtype=int).head()

   Female  Male
0       0     1
1       1     0
2       1     0
4       1     0
5       0     1

In [120]:
sex=pd.get_dummies(data['sex'],dtype=int,drop_first=True)
sex.head()

   Male
0     1
1     0
2     0
4     0
5     1

In [121]:
data.island.unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [122]:
island=pd.get_dummies(data['island'],dtype=int,drop_first=True)

In [123]:
ndata=pd.concat([data,sex,island],axis=1)

In [124]:
ndata.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,Male,Dream,Torgersen
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,1,0,1
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,0,0,1
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,0,0,1
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,0,0,1
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male,1,0,1

In [125]:
ndata.drop(columns=['sex','island'],inplace=True)

In [126]:
ndata.head()

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,Male,Dream,Torgersen
0,Adelie,39.1,18.7,181.0,3750.0,1,0,1
1,Adelie,39.5,17.4,186.0,3800.0,0,0,1
2,Adelie,40.3,18.0,195.0,3250.0,0,0,1
4,Adelie,36.7,19.3,193.0,3450.0,0,0,1
5,Adelie,39.3,20.6,190.0,3650.0,1,0,1

In [127]:
y=ndata.species
y.head()

0    Adelie
1    Adelie
2    Adelie
4    Adelie
5    Adelie
Name: species, dtype: object

In [128]:
y.unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [129]:
y=y.map({'Adelie':0,'Chinstrap':1,'Gentoo':2})
y.head()
# or we can also use this method
# from  sklearn.preprocessing import LabelEncoder
# le=LabelEncoder()
# y=le.fit_transform(y)

0    0
1    0
2    0
4    0
5    0
Name: species, dtype: int64

In [130]:
ndata.drop('species',inplace=True,axis=1)

In [131]:
x=ndata

In [132]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [133]:
print('x train',x_train.shape)
print('x test',x_test.shape)
print('y train',y_train.shape)
print('y test',y_test.shape)

x train (233, 7)
x test (100, 7)
y train (233,)
y test (100,)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=5,criterion='entropy',random_state=0)

In [135]:
x_train.head(5)

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,Male,Dream,Torgersen
165,52.0,18.1,201.0,4050.0,1,1,0
156,52.7,19.8,197.0,3725.0,1,1,0
112,39.7,17.7,193.0,3200.0,0,0,0
220,46.1,13.2,211.0,4500.0,0,0,0
96,38.1,18.6,190.0,3700.0,0,1,0

In [136]:
model.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=5, random_state=0)

In [138]:
y_prdeict=model.predict(x_test)

In [143]:
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix
cls=classification_report(y_prdeict,y_test)
print(cls)

              precision    recall  f1-score   support

           0       1.00      0.96      0.98        50
           1       0.94      1.00      0.97        15
           2       0.97      1.00      0.99        35

    accuracy                           0.98       100
   macro avg       0.97      0.99      0.98       100
weighted avg       0.98      0.98      0.98       100

In [144]:
cm=confusion_matrix(y_prdeict,y_test)

In [145]:
cm

array([[48,  1,  1],
       [ 0, 15,  0],
       [ 0,  0, 35]], dtype=int64)

In [146]:
accuracy_score(y_prdeict,y_test)

0.98

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=7,criterion='gini',random_state=0)
model.fit(x_train,y_train)